.gallery-list-item {
  height: 160px;
  min-width: 222px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  background-color: black;
}

.tag-img {
  float: left;
  position: absolute;
  top: 115px;
  left: 170px;
  cursor: pointer;
}

.tag-img-transparent {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
