.text-search-container {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.gallery-list-container {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.footer-container {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
