.gallery-list-item {
  height: 160px;
  width: 220px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  background-color: black;
  margin: 8px;
}

.tag-img {
  float: left;
  position: absolute;
  top: 115px;
  left: 170px;
  cursor: pointer;
}

.tag-img-transparent {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
